<div class='ui equal width grid'>
  <div class='column'>
  </div>
  <div class='eight wide column'>
    <div>
      <div class='ui inverted segment' id='login-forms'>
        <h5 class='center aligned ui inverted header'>Log In</h5>
        <form id='login-form' class='ui form'>
          <div>
            <label for='email-login'>email:</label>
            <input type='text' id='email-login' />
          </div>
          <div>
            <label for='password-login'>password:</label>
            <input type='password' id='password-login' />
          </div>
          <div>
            <br />
            <button
              type='submit'
              class='ui green button column'
            >login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class='column'>
  </div>
</div>

<br />

<div class='ui equal width grid'>
  <div class='column'>
  </div>
  <div class='eight wide column'>
    <div>
      <div class='ui inverted green segment' id='login-forms'>
        <h5 class='center aligned ui inverted header'>Sign Up</h5>
        <form id='signup-form' class='ui form'>
          <div>
            <label for='username-signup'>username:</label>
            <input type='text' id='username-signup' />
          </div>
          <div>
            <label for='email-signup'>email:</label>
            <input type='text' id='email-signup' />
          </div>
          <div>
            <label for='password-signup'>password:</label>
            <input type='password' id='password-signup' />
          </div>
          <div>
            <br />
            <button
              type='submit'
              class='ui black button'
            >signup</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class='column'>
  </div>
</div>

<script src='/javascript/login.js'></script>