{{> post-info post}}
<br>

<div class='ui equal width grid'>
  <div class='column'>
  </div>
  <div class='eight wide column'>
  {{#if loggedIn}}
    <form id="comment-form" class="ui form">
      <div>
        <textarea name="comment-body"></textarea>
      </div>
    <br>
      <div>
        <button class="ui green button" type="submit">add comment</button>
      </div>
    </form>
{{/if}}
<br>

{{> comments post.comments  }}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
  </div>
  <div class='column'>
  </div>
</div>