#right-menu {
  padding-right: 10px;
}

footer {
  width: 100%;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

.post {
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
.footer,
.push {
  height: 40px;
}

#user {
  color: #225ca3;
}

body {
  background-color: azure;
}

#cards {
  width: 80%;
  background-color: azure;
}

#comments {
  color: #225ca3;
}

#comments:hover {
  color: #3486eb;
}

#post-descriptions:hover {
  text-shadow: -0.25px -0.25px 0 black, 0.25px 0.25px black;
}

#new-post-form {
  padding: 0 9%;
}

#post-title {
  margin-bottom: 5px;
}

#edit-post {
  text-align: center;
  display: flex;
  justify-content: center;
}

#comments-box {
  color: white;
}
